/macros {
    compatible = "zmk,macro";

    macro_at: macro_at {
        label = "AT";
        bindings = <&kp RALT &kp 2>;
    };

    macro_pipe: macro_pipe {
        label = "PIPE";
        bindings = <&kp LSFT &kp BSLH>;
    };
};
