/*
 * macros.dtsi - Macros para ZMK
 */

#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        compatible = "zmk,macros";

        macro_at: macro_at {
            label = "@";
            bindings = <&kp 2 0>;  // &kp 2 0 equivale a la tecla '@'
        };

        macro_pipe: macro_pipe {
            label = "|";
            bindings = <&kp 49 0>; // &kp 49 0 equivale a la tecla '|'
        };
    };
};
